$primary-color: #fca311;
$secondary-color:#282c33;
$text-color:#ffffff;
$light-text-color:#e5e5e5;
$card-background-color: #a4a9da;
$card-text-color: #14213d; 
$border-color: #fca311;
$background-color: #000000;
